<html>
<head>
	<title></title>
</head>
<body>
	<% name.forEach(function(item){ %>
<div> <img src="<%= item.url %>">	
	<p>Author: <%=item.author %> >
	<p>Title: <%=item.title %> >  
	 > <% 
})  
%>

      
</body>
</html>
 